{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid">
        <div class="sixteen wide column centered aligned">
            {% if msg %}
                <div class="ui {{ tipo_msg }} message">
                    <div class="header">{{ msg }}</div>
                </div>
            {% endif %}
        </div>

        <div class="three wide column"></div>

        <div class="ten wide column">
            <div class="issem-title-edit-page">
                <h1><i class="user icon"></i> Entrar como: </h1>
            </div>
        </div>

        <div class="three wide column"></div>

        <div class="sixteen wide column centered aligned issem-button-escolha-papel">
            {% for grupo in grupos %}
                <a class="massive ui red button" href="{% url 'issem:escolha_papel' %}?gp={{ grupo.id }}">
                    {{ grupo.name }}
                </a>
                <br/>
            {% endfor %}
        </div>
    </div>

{% endblock %}