{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">

        {% if msg %}
            <div class="sixteen wide column">
                <div class="ui {{ tipo_msg }} message">
                    <div class="header">
                        {{ msg }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="calendar outline icon"></i> Agendamento</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:tabela_agendamentos' %}" class="item">Agenda <i
                                class="calendar icon"></i></a>
                        <a href="{% url 'issem:tabela_requerimentos_sem_agendamento' %}" class="item">Requerimentos sem
                            agendamento</a>
                        {% for beneficio in beneficios %}
                            <a href="{% url 'issem:cad_requerimento_servidor' beneficio.id %} "
                               class="item">{{ beneficio.descricao }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="users icon"></i> Servidor/Segurado</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:lista_servidores' %}" class="item">Servidores</a>
                        <a href="{% url 'issem:lista_segurados' %}" class="item">Segurados</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="database icon"></i> Registros</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:lista_dependentes' %}" class="item">Dependentes</a>
                        <a href="{% url 'issem:lista_cids' %}" class="item">CIDs</a>
                        <a href="{% url 'issem:lista_procedimentos_medicos' %}" class="item">Procedimentos Médicos</a>
                        <a href="{% url 'issem:lista_beneficios' %}" class="item">Benefícios</a>
                        <a href="{% url 'issem:lista_tipo_laudo' %}" class="item">Laudo Médico</a>
                        <a href="{% url 'issem:edita_parametros_consulta' %}" class="item">Editar parâmetros de
                            consulta</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="bar chart icon"></i> Analytics</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <div class="item">Choice 1</div>
                        <div class="item">Choice 2</div>
                        <div class="item">Choice 3</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="issem-proximasConsultas">
            <div class="ui icon button red abrirModalConsultas">Próximas Consultas</div>
        </div>
    </div>

    <!-- MODAL -->
    {% if proximos_agendamentos %}
        <div class="ui centered grid form modal modalConsultas">
            <i class="close icon"></i>
            <div class="header">
                Próximas Consultas
            </div>

            <div class="content">
                <table class="ui red celled table">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Segurado</th>
                        <th>Telefone</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for agendamento in proximos_agendamentos %}
                        <tr>
                            <td>{{ agendamento.data_pericia }}</td>
                            <td>{{ agendamento.hora_pericia }}</td>
                            <td>{{ agendamento.requerimento.segurado }}</td>
                            <td>
                                {% if agendamento.requerimento.segurado.telefone_celular %}
                                    agendamento.requerimento.segurado.telefone_celular
                                {% else %}
                                    ----
                                {% endif %}
                                {% if agendamento.requerimento.segurado.telefone_residencial %}
                                    <br/>agendamento.requerimento.segurado.telefone_residencial
                                {% endif %}
                            </td>
                            <td class="ui right aligned">
                                <a href="{% url 'issem:edita_requerimento' agendamento.requerimento.id agendamento.id %}">
                                    <div class="ui labeled icon button">
                                        <i class="edit icon"></i> Editar
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                </table>
            </div>

            <div class="actions"></div>
        </div>

    {% else %}

        <div class="ui small modal modalConsultas">
            <i class="close icon"></i>
            <div class="ui icon header">
                <i class="remove icon"></i>
                Sem consultas agendadas.
            </div>
            <div class="ui actions">
                <div class="ui red ok inverted button">
                    <i class="removeicon"></i>
                    Fechar
                </div>
            </div>
        </div>
    {% endif %}
    <!-- /MODAL -->

{% endblock %}