{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:index' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="list icon"></i> CIDs</h1>
                </div>
            </div>

            <div class="three wide column">
                <a href="{% url 'issem:cad_cid' %}">
                    <div class="ui right floated icon button green">
                        <i class="plus icon"></i> Adicionar Novo
                    </div>
                </a>
            </div>

            <div class="three wide column">
                <form class="ui form" id="CampoFiltroForm" method="get" action="{% url 'issem:lista_cids' %}">
                    {% csrf_token %}
                    <input type="text" id="id_campo" name="campo" required="False">
                    <input type="submit" name="submit" class="ui button blue" value="Pesquisar"/>
                </form>
            </div>
            <div class="thirteen wide column"></div>

            {% if dados %}
                <table class="ui celled table issem-table-form">
                    <thead>
                    <tr>
                        <th>Código do Cid</th>
                        <th>Descrição</th>
                        <th>Gravidade</th>
                        <th>Status</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dado in dados %}
                        <tr>
                            {% if dado.cod_cid != "" %}
                                <td>{{ dado.cod_cid }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.descricao != "" %}
                                <td>{{ dado.descricao }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.gravidade != "" %}
                                <td>{% if dado.gravidade %}Sim{% else %}Não{% endif %}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.status != "" %}
                                <td>{% if dado.status %}Sim{% else %}Não{% endif %}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}

                            <td class="ui right aligned">
                                <a href="{% url 'issem:edita_cid' dado.id %}">
                                    <div class="ui labeled icon button">
                                        <i class="edit icon"></i> Editar
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>

                {% include 'blocos/pagination.html' %}
            {% else %}
                <div class="sixteen wide column issem-div-message">
                    <br/>
                    <div class="ui yellow message">
                        <div class="header">
                            Não existem dados cadastrados
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}