<h4 class="ui dividing header red">Dependente (s)</h4>
{% if dados %}
    <table class="ui celled table issem-table-form">
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Tipo Dependente</th>
            <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for dado in dados %}
            <tr>
                {% if dado.nome != "" %}
                    <td>
                        <a href="{% url 'issem:perfil' dado.id %}">{{ dado.nome }}</a>
                    </td>
                {% else %}
                    <td>---</td>
                {% endif %}
                {% if dado.cpf != "" %}
                    <td>{{ dado.cpf }}</td>
                {% else %}
                    <td>---</td>
                {% endif %}
                {% if dado.email != "" %}
                    <td>{{ dado.email }}</td>
                {% else %}
                    <td>---</td>
                {% endif %}
                {% if dado.group != "" %}
                    <td>{{ dado.group }}</td>
                {% else %}
                    <td>---</td>
                {% endif %}

                <td class="ui right aligned">
                    <a href="{% url 'issem:edita_servidor' dado.id %}">
                        <div class="ui labeled icon button">
                            <i class="edit icon"></i> Editar
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
    </table>

    {% include 'blocos/pagination.html' %}
{% else %}
    <div class="sixteen wide column issem-div-message">
        <br/>
        <div class="ui yellow message">
            <div class="header">
                Não existem dependentes cadastrados!
                <a href="{% url 'issem:cad_dependente_segurado' id %}">Associar
                                    dependente</a>
            </div>
        </div>
    </div>
{% endif %}

</div>
