{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:funcionario' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="group icon"></i> Segurados</h1>
                </div>
            </div>

            <div class="three wide column">
                <div class="ui right floated {% if request.session.administrador %}vertical{% endif %} buttons">
                    <a href="{% url 'issem:cad_segurado' %}"
                       class="ui labeled icon button green">
                        <i class="plus icon"></i> Adicionar Novo
                    </a>
                    {% if request.session.administrador %}
                        <a href="{% url 'issem:lista_segurados_inativos' %}"
                           class="ui labeled icon button red">
                            <i class="trash icon"></i> Excluídos
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="ui centered row">
                <br/>
                <form class="ui form" id="CampoFiltroForm" method="get" action="{% url 'issem:lista_segurados' %}">
                    <div class="ui right aligned category search">
                        <div class="ui icon input">
                            <i class="search icon"></i>
                            <input type="text" id="id_campo" name="filtro" placeholder="Pesquisar">
                        </div>
                    </div>
                </form>
            </div>

            {% if dados %}
                <table class="ui celled table issem-table-form">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dado in dados %}
                        <tr>
                            {% if dado.get_full_name != "" %}
                                <td>
                                    <a href="{% url 'issem:perfil' dado.id %}">{{ dado.get_full_name }}</a>
                                </td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.cpf != "" %}
                                <td>{{ dado.cpf }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.email != "" %}
                                <td>{{ dado.email }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}

                            <td>
                                <div class="ui right floated {% if request.session.administrador %}vertical{% endif %} buttons">
                                    {% if request.session.administrador %}
                                        <a href="{% url 'issem:grupo' dado.id %}" class="ui labeled icon button blue">
                                            <i class="exchange icon"></i> Transferência de Grupo
                                        </a>
                                    {% endif %}
                                    {% if usuario_logado.id == dado.id or request.session.administrador %}
                                        <a href="{% url 'issem:edita_segurado' dado.id %}"
                                           class="ui labeled icon button ">
                                            <i class="edit icon"></i> Editar
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>

                {% include 'blocos/pagination.html' %}
            {% else %}
                <div class="sixteen wide column issem-div-message">
                    <br/>
                    <div class="ui yellow message">
                        <div class="header">
                            Não existem dados cadastrados
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}