{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:funcionario' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="group icon"></i> Segurados</h1>
                </div>
            </div>

            <div class="three wide column">
                <a href="{% url 'issem:cad_segurado' %}">
                    <div class="ui right floated icon button green">
                        <i class="plus icon"></i> Adicionar Novo
                    </div>
                </a>
            </div>

            <div class="five wide column">
                <br>
                <form class="ui form" id="CampoFiltroForm" method="get" action="{% url 'issem:lista_segurados' %}">
                    <div class="ui right aligned category search">
                        <div class="ui icon input">
                            <input type="text" id="id_campo" name="filtro" required="False" placeholder="Pesquisar">
                        </div>
                        <button class="ui button" type="submit" name="submit"><i class="search icon"></i></button>
                    </div>
                </form>
            </div>
            <div class="thirteen wide column"></div>


            {% if dados %}
                <table class="ui celled table issem-table-form">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dado in dados %}
                        <tr>
                            {% if dado.nome != "" %}
                                <td>
                                    <a href="{% url 'issem:perfil' dado.id %}">{{ dado.nome }}</a>
                                </td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.cpf != "" %}
                                <td>{{ dado.cpf }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.email != "" %}
                                <td>{{ dado.email }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}

                            <td class="ui right aligned">
                                <a href="{% url 'issem:edita_segurado' dado.id %}">
                                    <div class="ui labeled icon button">
                                        <i class="edit icon"></i> Editar
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>

                {% if var_controle == 1 %}
                    {% include 'blocos/paginatio_filtroTexto.html' %}
                {% else %}
                    {% include 'blocos/pagination.html' %}
                {% endif %}
            {% else %}
                <div class="sixteen wide column issem-div-message">
                    <br/>
                    <div class="ui yellow message">
                        <div class="header">
                            Não existem dados cadastrados
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}