{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:funcionario' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="calendar icon"></i> Requerimentos sem agendamento</h1>
                    <br/>
                </div>
            </div>

            <div class="three wide column"></div>

            <form class="ui form row" id="CampoFiltroForm" method="get"
                  action="{% url 'issem:tabela_agendamentos_sem_requerimento' %}">
                <div class="fields data">
                    <input type="text" id="id_campo" name="data_inicio" placeholder="Data Inicial">
                    &ensp;
                    <input type="text" id="id_campo" name="data_fim" placeholder="Data Final">
                    &ensp;
                    <button class="ui button" type="submit" name="submit"><i class="search icon"></i></button>
                </div>

            </form>
            {% if dados %}
                <table class="ui celled table issem-table-form">
                    <thead>
                    <tr>
                        <th>Data de requerimento</th>
                        <th>Segurado</th>
                        <th>Benefício</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for dado in dados %}
                        <tr>
                            {% if dado.data_requerimento != "" %}
                                <td>{{ dado.data_requerimento }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.segurado != "None" %}
                                <td>{{ dado.segurado }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.beneficio != "" %}
                                <td>{{ dado.beneficio }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}

                            <td class="ui right aligned">
                                <a href="{% url 'issem:define_agendamento' dado.id %}">
                                    <div class="ui labeled icon button blue">
                                        <i class="calendar icon"></i> Gerar agendamento
                                    </div>
                                </a>
                                <a class="ui right floated icon button red abrirModalConfirmacao"
                                   onclick="modalRequerimento({{ dado.id }})" href="#">
                                    <i class="trash icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>
            {% else %}
                <div class="sixteen wide column issem-div-message">
                    <br/>
                    <div class="ui yellow message">
                        <div class="header">
                            Não existem dados cadastrados.
                        </div>
                    </div>
                </div>
            {% endif %}
            {% include 'blocos/pagination.html' %}
        </div>
    </div>

    {#========== MODAL ==========#}
    <div class="ui small modal modalConfirmacao">
        <i class="close icon"></i>
        <div class="ui icon header">
            <i class="trash icon"></i>
            Deseja realmente excluir?
        </div>
        <div class="ui actions" id="teste">
            <!-- /GERADO POR JS -->
        </div>
    </div>
    {#========== / MODAL ==========#}

{% endblock %}