{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input()">
{% endblock %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:funcionario' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="calendar icon"></i> Agendamentos</h1>
                    <br/>
                </div>
            </div>

            <div class="three wide column"></div>

            <form class="ui form row" id="CampoFiltroForm" method="get"
                  action="{% url 'issem:tabela_agendamentos' %}">
                <div class="fields data">
                    <input type="text" id="id_campo" name="data_inicio" placeholder="dd/mm/aaaa">
                    &ensp;
                    <input type="text" id="id_campo_final" name="data_fim" placeholder="dd/mm/aaaa">
                    &ensp;
                    <button class="ui button" type="submit" name="submit"><i class="search icon"></i></button>
                </div>
            </form>
            {% if dados %}
                <table class="ui celled table issem-table-form">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Segurado</th>
                        <th>Benefício</th>
                        <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dado in dados %}
                        <tr>
                            {% if dado.data_pericia != "" %}
                                <td>{{ dado.data_pericia }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.hora_pericia != "" %}
                                <td>{{ dado.hora_pericia }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.requerimento.segurado != "None" %}
                                <td>{{ dado.requerimento.segurado }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            {% if dado.requerimento.beneficio != "" %}
                                <td>{{ dado.requerimento.beneficio }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}

                            <td class="ui right aligned">
                                <a href="{% url 'issem:edita_requerimento' dado.requerimento.id dado.id %}">
                                    <div class="ui labeled icon button">
                                        <i class="edit icon"></i> Editar
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>
                {% include 'blocos/pagination.html' %}
            {% else %}
                <div class="sixteen wide column issem-div-message">
                    <br/>
                    <div class="ui yellow message">
                        <div class="header">
                            Não existem dados entre os períodos.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}