{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input();">
{% endblock %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:index' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    {% if not id %}
                        <h1><i class="plus icon"></i> Cadastro de Laudo: {{ tipo_laudo }}</h1>
                    {% else %}
                        <h1><i class="edit icon"></i> Edição de Laudo: {{ tipo_laudo }}</h1>
                    {% endif %}
                </div>
            </div>

            <div class="three wide column"></div>

            <div class="sixteen wide column issem-table-form">

{#            {% if not msg %}#}
{#                <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>#}
{#            {% else %}#}
{#                <a href="{% url 'issem:tabela_agendamentos' %}"><i class="big arrow circle left icon red"></i></a>#}
{#            {% endif %}#}

{#            {% if not id %}#}
{#                <h1>{{ tipo_laudo }}</h1>#}
{#            {% else %}#}
{#                <h1>Edição de Laudo</h1>#}
{#                {{ edicao_define_agendamento }}#}
{#            {% endif %}#}

{#            {% if not msg %}#}
{#                {% if not var_controle %}#}
{#                    <form class="ui form" id="RequerimentoForm" method="post"#}
{#                          action="{% url 'issem:cad_requerimento_servidor' id_beneficio %}">#}
{#                {% else %}#}
                    <form class="ui form" id="RequerimentoForm" method="post" action="{% url 'issem:define_agendamento' 23 %}">
{#                {% endif %}#}
            {% csrf_token %}

{#            {% if not id %}#}
{#                <input type="hidden" name="id" value="">#}
{#                <input type="hidden" name="id_agendamento" value="">#}
{#            {% else %}#}
{#                <input type="hidden" name="id" value="{{ id }}">#}
{#                <input type="hidden" name="id_agendamento" value="{{ id_agendamento }}">#}
{#            {% endif %}#}
{##}
{#            <select id="id_beneficio" name="beneficio" type="hidden" style="display:none">#}
{#                <option value="{{ id_beneficio }}">{{ beneficio_descricao }}</option>#}
{#            </select>#}
{##}
{#            <select id="id_servidor" name="servidor" type="hidden" style="display:none">#}
{#                <option value="{{ id_usuario }}"></option>#}
{#            </select>#}

            <div class="fields">
                <div class="six wide field"></div>
                <div class="four wide field">
                    <label>Segurado<i class="asterisk icon red"></i></label>
                    {{ form.segurado }}
                    {% if form.segurado.errors %}
                        <div class="ui pointing red basic label issem-error-field">
                            {{ form.segurado.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="four wide field"></div>
                <div class="four wide field">
                    <label>Requerimento<i class="asterisk icon red"></i></label>
                    {{ form.requerimento }}
                    {% if form.requerimento.errors %}
                        <div class="ui pointing red basic label issem-error-field">
                            {{ form.requerimento.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Médico<i class="asterisk icon red"></i></label>
                    {{ form.medico }}
                    {% if form.medico.errors %}
                        <div class="ui pointing red basic label issem-error-field">
                            {{ form.medico.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field"></div>
            </div>
            <div class="fields">
                <div class="four wide field"></div>
                <div class="four wide field">
                    <label>Anamnese<i class="asterisk icon red"></i></label>
                    {{ form.observacoes_justificativas }}
                    {% if form.observacoes_justificativas.errors %}
                        <div class="ui pointing red basic label issem-error-field">
                            {{ form.observacoes_justificativas.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="four wide field">
                    <label>Histórico atual da Doença <i class="asterisk icon red"></i></label>
                        {{ form.historico_doenca }}
                        {% if form.historico_doenca.errors %}
                            <div class="ui pointing red basic label issem-error-field">
                                {{ form.historico_doenca.errors }}
                            </div>
                        {% endif %}
                </div>
                <div class="four wide field"></div>
            </div>

                    {% include 'blocos/buttons_form.html' %}
                </form>

            </div>
        </div>
    </div>

{% endblock %}