{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input();">
{% endblock %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:index' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    {% if not id %}
                        <h1><i class="plus icon"></i> Laudo Médico</h1>
                    {% else %}
                        <h1><i class="edit icon"></i> Laudo Médico</h1>
                    {% endif %}
                </div>
            </div>

            <div class="three wide column"></div>

            <div class="sixteen wide column issem-table-form">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h2><i class="file outline icon"></i> Dados com origem do requerimento</h2>
                    </div>

                    <div class="eight wide column">
                        <p><i class="calendar icon"></i> <strong>Requerimento: </strong>
                            Feito no dia 15 de julho de 2017</p>

                        <p><i class="user icon"></i> <strong>Criado por: </strong>Maria dos Santos</p>

                        <p><i class="calendar icon"></i> <strong>Início do afastamento: </strong>
                            10 de junho de 2017</p>

                        <p><i class="calendar icon"></i> <strong>Fim do afastamento: </strong>
                            14 de julho de 2017</p>
                    </div>

                    <div class="eight wide column">
                        <p><i class="child icon"></i> <strong>Segurado: </strong>
                            João de Oliveira</p>

                        <p><i class="checkmark icon"></i> <strong>Benefício: </strong>
                            Benefício por incapacidade</p>

                        <p><i class="doctor icon"></i> <strong>Médico: </strong>
                            {{ medico.nome }}</p>
                    </div>
                </div>
            </div>

            <br/>

            <div class="sixteen wide column">
                <div class="ui divider"></div>
                <h2><i class="treatment icon"></i> Laudo Médico</h2>
            </div>

            <div class="sixteen wide column issem-table-form">

                <form class="ui form" id="RequerimentoForm" method="post" enctype="multipart/form-data"
                      action="{% url 'issem:cad_laudo' %}">
                    {% csrf_token %}

                    <div class="fields">
                        <div class="eight wide field">
                            <label>CIDs<i class="asterisk icon red"></i></label>
                            {{ form.cid }}
                            {% if form.cid.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.cid.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="eight wide field">
                            <label>Procedimento médico<i class="asterisk icon red"></i></label>
                            {{ form.procedimento_medico }}
                            {% if form.procedimento_medico.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.procedimento_medico.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <br/>

                    <div class="fields">
                        <div class="eight wide field">

                            {{ form.pericia_revisional }}
                            {% if form.pericia_revisional.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.pericia_revisional.errors }}
                                </div>
                            {% endif %}
                            &ensp;<strong>Perícia Revisional?<i class="asterisk icon red"></i></strong>
                            <br/>

                            {{ form.invalidez }}
                            {% if form.invalidez.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.invalidez.errors }}
                                </div>
                            {% endif %}
                            &ensp;<strong>Invalidez?<i class="asterisk icon red"></i></strong>
                            <br/>

                            {{ form.servidor_readaptado }}
                            {% if form.servidor_readaptado.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.servidor_readaptado.errors }}
                                </div>
                            {% endif %}
                            &ensp;<strong>Servidor Readaptado?<i class="asterisk icon red"></i></strong>
                            <br/>

                            {{ form.incapacidade_doenca_decorre_de_acidente_de_trabalho }}
                            {% if form.incapacidade_doenca_decorre_de_acidente_de_trabalho.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.incapacidade_doenca_decorre_de_acidente_de_trabalho.errors }}
                                </div>
                            {% endif %}
                            &ensp;<strong>Incapacidade da doença decorre de acidente de trabalho?
                            <i class="asterisk icon red"></i></strong>
                        </div>

                        <div class="eight wide field">
                            <label>Upload de Exames</label>
                            {{ form.exames_apresentados }}
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Histórico atual da Doença <i class="asterisk icon red"></i></label>
                            {{ form.historico_doenca }}
                            {% if form.historico_doenca.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.historico_doenca.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <br/>

                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Observações <i class="asterisk icon red"></i></label>
                            {{ form.observacoes }}
                            {% if form.observacoes.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.observacoes.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <br/>

                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Anamnese <i class="asterisk icon red"></i></label>
                            {{ form.anamnese }}
                            {% if form.anamnese.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.anamnese.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% include 'blocos/buttons_form.html' %}
                </form>

            </div>
        </div>
    </div>

{% endblock %}