{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input(); get_cidade_natural(); get_cidade_atual()">
{% endblock %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:lista_servidores' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    {% if not id %}
                        <h1><i class="plus icon"></i> Cadastro de Servidor</h1>
                    {% else %}
                        <h1><i class="edit icon"></i> Edição de Servidor</h1>
                    {% endif %}
                </div>
            </div>

            <div class="three wide column">
                {% if id %}
                    <div class="ui right floated vertical buttons">
                        <a href="{% url 'issem:edita_senha' id id_group_user %}"
                           class="ui labeled icon button secondary">
                            <i class="key icon"></i> Alterar Senha
                        </a>
                        <a class="ui labeled icon button red abrirModalConfirmacao" href="#">
                            <i class="trash icon"></i> Excluir
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="sixteen wide column issem-table-form">
                {% if not id %}
                    <form class="ui form" id="SeguradoForm" method="post" action="{% url 'issem:cad_servidor' %}">
                {% else %}
                    <form class="ui form" id="SeguradoForm" method="post" action="{% url 'issem:edita_servidor' id %}">
                {% endif %}

                {% include 'blocos/formulario_pessoa.html' %}

                <h4 class="ui dividing red header">Dados específicos do Servidor</h4>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field departamento" id="div_group_user">
                        <label>Departamento <i class="asterisk icon red"></i></label>

                       {{ form.groups }}

                        {% if form.groups.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.groups.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>CRM</label>
                        <div class="crm">
                            {{ form.crm }}
                            {% if form.crm.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.crm.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
                </form>

            </div>
        </div>
    </div>

    {% if id %}
        {#========== MODAL ==========#}
        <div class="ui small modal modalConfirmacao">
            <i class="close icon"></i>
            <div class="ui icon header">
                <i class="trash icon"></i>
                Deseja realmente excluir?
            </div>
            <div class="ui actions">
                <div class="ui green ok inverted button">
                    Não
                </div>
                <a class="ui red ok inverted button" href="{% url 'issem:deleta_servidor' id %}">
                    <i class="remove icon"></i>
                    Sim
                </a>
            </div>
        </div>
        {#========== / MODAL ==========#}
    {% endif %}

{% endblock %}