{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:index' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <h1><i class="user icon"></i> {{ usuario.nome }}</h1>
                </div>
            </div>

            <div class="three wide column">
                {#                <a class="ui right floated labeled icon button blue" href="#">#}
                {#                    <i class="edit icon"></i> Alterar Perfil#}
                {#                </a>#}
            </div>

            <div class="ui form sixteen wide column issem-table-form">
                {% include 'perfil/perfil_pessoa.html' %}

                {% if usuario.groups.all.0.name == 'Administrativo' or usuario.groups.all.0.name == "Tecnico" %}

                    {% include 'perfil/perfil_servidor.html' %}

                {% elif usuario.groups.all.0.name == "Segurado" %}

                    {% include 'perfil/perfil_segurado.html' %}

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}