{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing red header">Dados específicos do Segurado</h4>
<div class="fields">
    {% if usuario.local_trabalho %}
        <div class="four wide field">
            <label> Local de Trabalho </label>
            {{ usuario.local_trabalho }}
        </div>

    {% else %}
        <div class="four wide field">
            <label> Local de Trabalho </label>
            -----------
        </div>
    {% endif %}

    {% if usuario.pasep_pis_nit %}
        <div class="four wide field">
            <label> PIS/PASEP/NIT </label>
            <div class="somente_numeros">
                {{ usuario.pasep_pis_nit }}
            </div>
        </div>

    {% else %}
        <div class="four wide field">
            <label> PIS/PASEP/NIT </label>
            -----------
        </div>
    {% endif %}

    {% if usuario.documento_legal %}
        <div class="four wide field">
            <label> Documento legal </label>
            <div class="somente_numeros">
                {{ usuario.documento_legal }}
            </div>
        </div>

    {% else %}
        <div class="four wide field">
            <label> Documento Legal </label>
            -----------
        </div>
    {% endif %}

    {% if usuario.data_admissao %}
        <div class="four wide field">
            <label>Data de Admissão</label>
            <div class="data">
                {{ usuario.data_admissao }}
            </div>
        </div>

    {% else %}
        <div class="four wide field">
            <label> Data de Admissão </label>
            -----------
        </div>
    {% endif %}
</div>