{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:perfil' id %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column issem-margin-bottom">
                <div class="issem-title-edit-page">
                    <h1><i class="exchange icon"></i> Transferência de dependente para outro Segurado</h1>
                    <h2><i class="user icon"></i>{{ dependente.get_full_name }}</h2>
                </div>
                <br/>
            </div>

            <div class="three wide column"></div>

            <div class="four wide column"></div>

            <div class="eight wide column ui centered aligned form">
                <div class="two fields">
                    <div class="field">
                        <label>Segurado atual</label>
                        <input type="text" class="issem-input-disabled" disabled="disabled"
                               value="{{ segurado_atual }}"/>
                    </div>
                    <div class="field">
                        <label>Novo segurado</label>
                        <form class="ui form" id="CampoFiltroForm" method="get" action="{% url 'issem:seleciona_segurado' id %}">
                            <div class="ui right aligned category search">
                                <div class="ui icon input">
                                    <i class="search icon"></i>
                                    <input type="text" id="id_campo" name="filtro" placeholder="Pesquisar">
                                </div>
                            </div>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="four wide column"></div>

            {% if request.GET or 'page' in request.GET %}
                {% if dados %}
                    <table class="ui celled table issem-table-form">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th class="ui right aligned">AÇÕES<i class="setting icon"></i>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for segurado_pesquisa in dados %}
                            {% if segurado_pesquisa != segurado_atual %}
                                <tr>
                                    {% if segurado_pesquisa.get_full_name != "" %}
                                        <td>
                                            <a href="{% url 'issem:perfil' segurado_pesquisa.id %}">{{ segurado_pesquisa.get_full_name }}</a>
                                        </td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if segurado_pesquisa.cpf != "" %}
                                        <td>{{ segurado_pesquisa.cpf }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if segurado_pesquisa.email != "" %}
                                        <td>{{ segurado_pesquisa.email }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}

                                    <td class="ui right aligned">
                                        <form action="{% url 'issem:transferencia' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ id }}"/>
                                            <input type="hidden" name="id_novo_segurado" value="{{ segurado_pesquisa.id }}"/>

                                            <button type="submit" class="ui labeled icon button green">
                                                <i class="checkmark icon"></i> Associar
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                    </table>

                    {% include 'blocos/pagination.html' %}
                {% else %}
                    <div class="sixteen wide column issem-div-message">
                        <br/>
                        <div class="ui yellow message">
                            <div class="header">
                                Nenhum resultado encontrado.
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}