{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing red header">Dados específicos do Servidor</h4>
<div class="fields">
    <div class="two wide field"></div>

    <div class="four wide field">
        <label> Função </label>
        {% if usuario.funcao %}
            {{ usuario.funcao }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field" id="div_group_user">
        <label> Departamento </label>
        {{ usuario.groups.all.0.name }}
    </div>

    <div class="four wide field">
        <label>CRM</label>
        {% if usuario.crm %}
            {{ usuario.crm }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="two wide field"></div>
</div>