<h4 class="ui dividing red header">Informações Pessoais</h4>

<div class="fields">
    <div class="four wide field">
        <label> Nome </label>
        {{ usuario.get_full_name }}
    </div>
    <div class="four wide field">
        <label> CPF </label>
        {{ usuario.cpf }}
    </div>
    <div class="four wide field">
        <label> RG </label>
        {% if usuario.rg %}
            {{ usuario.rg }}
        {% else %}
            -----------
        {% endif %}
    </div>
    <div class="four wide field">
        <label> Data de Nascimento </label>
        {{ usuario.data_nascimento }}
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label> Cargo </label>
        {% if usuario.cargo %}
            {{ usuario.cargo }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Estado Civil </label>
        {% if usuario.estado_civil %}
            {{ usuario.estado_civil }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Sexo </label>
        {% if usuario.sexo %}
            {{ usuario.sexo }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="two wide field issem-input-small">
        <label> Tipo Sanguíneo </label>
        {% if usuario.tipo_sanguineo %}
            {{ usuario.tipo_sanguineo }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="two wide field">
        <label> Doador </label>
        {% if usuario.doador %}
            Sim
        {% else %}
            Não
        {% endif %}
    </div>
</div>

<div class="fields">

    <div class="four wide field">
        <label> E-mail </label>
        {% if usuario.email %}
            {{ usuario.email }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Telefone Residencial </label>
        {% if usuario.telefone_residencial %}
            {{ usuario.telefone_residencial }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Telefone Celular </label>
        {% if usuario.telefone_celular %}
            {{ usuario.telefone_celular }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> CEP </label>
        {% if usuario.cep %}
            {{ usuario.cep }}
        {% else %}
            -----------
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label> Estado (Natural) </label>
        {% if usuario.cidade_natural.uf %}
            {{ usuario.cidade_natural.uf }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Cidade Natural </label>
        {% if usuario.cidade_natural %}
            {{ usuario.cidade_natural }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Estado (Atual) </label>
        {% if usuario.cidade_atual.uf %}
            {{ usuario.cidade_atual.uf }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Cidade (Atual) </label>
        {% if usuario.cidade_atual %}
            {{ usuario.cidade_atual }}
        {% else %}
            -----------
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label> Endereço </label>
        {% if usuario.endereco %}
            {{ usuario.endereco }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Nº Residencial </label>
        {% if usuario.numero_endereco %}
            {{ usuario.numero_endereco }}
        {% else %}
            -----------
        {% endif %}
    </div>


    <div class="four wide field">
        <label> Complemento </label>
        {% if usuario.complemento %}
            {{ usuario.complemento }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Bairro </label>
        {% if usuario.bairro %}
            {{ usuario.bairro }}
        {% else %}
            -----------
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field"></div>

    <div class="four wide field">
        <label> Nome do Pai </label>
        {% if usuario.nome_pai %}
            {{ usuario.nome_pai }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> Nome da Mãe </label>
        {% if usuario.nome_mae %}
            {{ usuario.nome_mae }}
        {% else %}
            -----------
        {% endif %}
    </div>
    <div class="four wide field"></div>
</div>