{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing red header">Dados específicos do Segurado</h4>
<div class="fields">
    <div class="four wide field">
        <label> Local de Trabalho </label>
        {% if usuario.local_trabalho %}
            {{ usuario.local_trabalho }}
        {% else %}
            -----------
        {% endif %}
    </div>

    <div class="four wide field">
        <label> PIS/PASEP/NIT </label>
        <div class="somente_numeros">
            {% if usuario.pasep_pis_nit %}
                {{ usuario.pasep_pis_nit }}
            {% else %}
                -----------
            {% endif %}
        </div>
    </div>

    <div class="four wide field">
        <label> Documento legal </label>
        <div class="somente_numeros">
            {% if usuario.documento_legal %}
                {{ usuario.documento_legal }}
            {% else %}
                -----------
            {% endif %}
        </div>
    </div>

    <div class="four wide field">
        <label>Data de Admissão</label>
        <div class="data">
            {% if usuario.data_admissao %}
                {{ usuario.data_admissao }}
            {% else %}
                -----------
            {% endif %}
        </div>
    </div>
</div>