{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input()">
{% endblock %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segment red">

                    <div class="ui grid">
                        <div class="left floated six wide column">
                            <h2>Agenda Médica</h2>
                        </div>
                    </div>
                </br>
                    <form class="ui form" id="FiltroForm" method="post" action="{% url 'issem:filtro_agenda' %}">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="four wide field">
                                {{ form.data_inicio_periodo }}
                            </div>
                            <div class="four wide field">
                                {{ form.data_fim_periodo }}
                            </div>
                            <div class="four wide field">
                                <input type="submit" name="submit" class="ui button green" value="Filtrar"/>
                            </div>
                        </div>
                    </form>
                </br>
                    {% if dados %}
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Hora</th>
                                <th>Segurado</th>
                                <th>Benefício</th>
                                <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dado in dados %}
                                <tr>
                                    {% if dado.data_pericia != "" %}
                                        <td>{{ dado.data_pericia }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if dado.hora_pericia != "" %}
                                        <td>{{ dado.hora_pericia }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if dado.requerimento.segurado == "None" %}
                                        <td>{{ dado.requerimento.segurado }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if dado.requerimento.beneficio != "" %}
                                        <td>{{ dado.requerimento.beneficio }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}

                                    <td class="ui right aligned">
                                        <a href="{% url 'issem:edita_requerimento' dado.requerimento.id dado.id %}">
                                            <button class="ui icon button blue"><i class="edit icon"></i></button>
                                        </a>

                                        <a href="{% url 'issem:deleta_requerimento' dado.requerimento.id dado.id %}">
                                            <button class="ui icon button red">
                                                <i class="remove icon"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                    {% else %}
                        <div class="ui yellow message">
                            <div class="header">
                                Não existem dados cadastrados
                            </div>
                        </div>
                    {% endif %}
                    {% if var_controle == 1 %}
                        {% include 'blocos/pagination_filtro.html' %}
                    {% else %}
                        {% include 'blocos/pagination.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}