{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment red">
                        <h2>Cid's</h2>
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Gravidade</th>
                                <th>Status</th>
                                <th>AÇÕES <a href="{% url 'issem:cad_cid' %}" class="item"><i class="plus icon"></i></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cid in cids %}
                                <tr>
                                    <td>{{ cid.cod_cid }}</td>
                                    <td>{{ cid.descricao }}</td>
                                    <td>{{ cid.gravidade }}</td>
                                    <td>{{ cid.status }}</td>
                                    <td><a href="{% url 'issem:edita_cid' cid.id %}">
                                        <button class="ui icon button"><i class="edit icon"></i></button>
                                    </a>

                                        <a href="{% url 'issem:deleta_cid' cid.id %}">
                                            <button class="ui icon button">
                                                <i class="remove icon"></i></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}