{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment red">
                        <h2>Benefícios</h2>
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Nº Portaria</th>
                                <th>Concessão</th>
                                <th>AÇÕES <a href="{% url 'issem:cad_beneficio' %}" class="item"><i class="plus icon"></i></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for beneficio in beneficios %}
                                <tr>
                                    <td>{{ beneficio.descricao }}</td>
                                    <td>{{ beneficio.numero_portaria }}</td>
                                    <td>{{ beneficio.concessao }}</td>
                                    <td><a href="{% url 'issem:edita_beneficio' beneficio.id %}">
                                        <button class="ui icon button"><i class="edit icon"></i></button>
                                    </a>

                                        <a href="{% url 'issem:deleta_beneficio' beneficio.id %}">
                                            <button class="ui icon button">
                                                <i class="remove icon"></i></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}