{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ISSEM</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'semanticui/dist/semantic.css' %}"/>
</head>

{% block body_tag %}
    <body>
{% endblock %}

<header>
    <div class="ui fluid">
        <div class="ui container">
            <h2 class="ui header red">
                <img src="/static/images/1.png"/>
                <div class="content">
                    ISSEM
                    <div class="sub header">INSTITUTO DE SEGURIDADE DOS SERVIDORES MUNICIPAIS</div>
                </div>
                <div class="ui right aligned sub header">
                    {% if user.is_anonymous %}
                        Acesse sua Conta
                        <div class="ui right aligned sub header">
                            <a href="{% url 'issem:login' %}">
                                <i class="sign in icon"></i>
                                <label>Logar</label>
                            </a>
                        </div>
                    {% else %}
                        <div class="ui right aligned sub header">
                            <div class="row">
                                {% if user.groups.all.0.name == 'Médico' %}
                                    <i class="ui  right large doctor icon"></i>
                                {% endif %}
                                {% if user.groups.all.0.name == 'Servidor' %}
                                    <i class="ui  right large user icon"></i>
                                {% endif %}
                                {% if user.groups.all.0.name == 'Segurado' %}
                                    <i class="ui  right large child icon"></i>
                                {% endif %}
                                {{ user }}

                            </div>
                        </div>
                        <div class="ui right aligned sub header">

                            <a href="{% url 'issem:logout' %}">
                                <i class="sign out icon"></i>
                                <label>Sair</label>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </h2>
        </div>
    </div>
</header>

<nav class="ui menu large" >
    <div class="ui container">
{#        <a href="{% url 'issem:index' %}" class="item">Home</a>#}
        {% if user.groups.all.0.name == 'Médico' or request.user.is_superuser %}<a href="{% url 'issem:medico' %}" class="item">Médico</a>{% endif %}
        {% if user.groups.all.0.name == "Servidor" or request.user.is_superuser %}<a href="{% url 'issem:funcionario' %}" class="item">Servidor</a>{% endif %}
        {% if user.groups.all.0.name == "Segurado" or request.user.is_superuser %}<a href="{% url 'issem:segurado' %}" class="item">Segurado</a>{% endif %}
    </div>
</nav>

<article>
    <div class="ui container issem-content">
        {% block body_block %}
        {% endblock %}
    </div>
</article>

<footer class="ui inverted vertical segment footer">
    <div class="ui centered grid">
        Instituto de Seguridade dos Servidores Municipais<br/>
        Rua Walter Marquardt, 623 - Barra do Rio Molha - Jaragua do Sul - SC / Fone: (47)3270 3900
    </div>
</footer>

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/issem.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'semanticui/dist/semantic.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
<!-- /SCRIPTS -->

</body>
</html>