{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>ISSEM</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'semanticui/dist/semantic.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{{ STATIC_URL }}js/issem.js"></script>
    <script type="text/javascript" src="{% static 'semanticui/dist/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>
</head>
<body>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div id="topo">
                <a href="/">
                    <h2 class="ui header red">
                        <div class="ui segment">
                            <img src="/static/images/1.jpg" width="100px"/>
                            <div class="content">
                                ISSEM
                                <div class="sub header">INSTITUTO DE SEGURIDADE DOS SERVIDORES MUNICIPAIS</div>
                            </div>
                        </div>
                    </h2>
                </a>
                <div class="ui menu">
                    <a href="{% url 'issem:index' %}" class="item">Home</a>
                    <a href="{% url 'issem:funcionario' %}" class="item">Funcionário</a>
                    <a href="{% url 'issem:medico' %}" class="item">Médico</a>
                </div>
            </div>
        </div>
    </div>
{% block body_block %}
{% endblock %}
</body>

</html>