{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ISSEM</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'semanticui/dist/semantic.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{{ STATIC_URL }}js/issem.js"></script>
    <script type="text/javascript" src="{% static 'semanticui/dist/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>
</head>
<body>

<div class="ui one column grid">
    <div class="row">
        <div class="column">
            <div class="ui segment red">
                <img src="../../static/images/logo_issem.jpg" width="100"/>
                <div class="ui menu">
                    <a href="{% url 'issem:index' %}" class="item">Home</a>
                    <a href="{% url 'issem:funcionario' %}" class="item">Funcionario</a>
                    <a href="{% url 'issem:medico' %}" class="item">Médico</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% block body_block %}
{% endblock %}

</body>

</html>