{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui form segment">
                    <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>

                    {% if not id %}
                        <h1>Cadastro de novo Benefício:</h1>
                    {% else %}
                        <h1>Edição de Beneficio</h1>
                    {% endif %}

                    <form class="ui form" id="BeneficioForm" method="post" action="{% url 'issem:cad_beneficio' %}">
                        {% csrf_token %}

                        {% if not id %}
                            <input type="hidden" name="id" value="">
                        {% else %}
                            <input type="hidden" name="id" value="{{ id }}">
                        {% endif %}

                        <div class="fields">
                            <div class="four wide field">
                                <label>Data Inicial:</label>
                                {{ form.data_inicial }}
                            </div>
                            <div class="four wide field">
                                <label>Data Final:</label>
                                {{ form.data_final }}
                            </div>
                            <div class="four wide field">
                                <label>Data Retorno:</label>
                                {{ form.data_retorno }}
                            </div>
                            <div class="four wide field">
                                <label>Data Perícia:</label>
                                {{ form.data_pericia }}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="ten wide field">
                                <label>Descrição:</label>
                                {{ form.descricao }}
                            </div>
                            <div class="four wide field">
                                <label>Data Portaria:</label>
                                {{ form.data_portaria }}
                            </div>
                            <div class="three wide field">
                                <label>Nº Portaria:</label>
                                {{ form.numero_portaria }}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="three wide field">
                                <label>Salário Máximo:</label>
                                {{ form.salario_maximo }}
                            </div>
                            <div class="three wide field">
                                <label>Carência:</label>
                                {{ form.carencia }}
                            </div>
                            <div class="eight wide field">
                                <label>Observação:</label>
                                {{ form.observacao }}
                            </div>
                            <div class="two wide field">
                                <label>Concessão:</label>
                                {{ form.concessao }}
                            </div>
                        </div>

                        {% if not id %}
                            <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                        {% else %}
                            <input type="submit" name="submit" class="ui button green" value="Atualizar"/>
                        {% endif %}
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>&nbsp;
                        <button type="button" onclick="location.href={% url 'issem:index' %}" class="ui button red">
                            Cancelar
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}