{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:lista_cids' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de CID:</h1>
            {% else %}
                <h1>Edição de CID</h1>
            {% endif %}

            <form class="ui form" id="CidForm" method="post" action="{% url 'issem:cad_cid' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>Código do CID</label>
                        <div class="somente_numeros">
                            {{ form.cod_cid }}
                            {% if form.cod_cid.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.cod_cid.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="six wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="one wide field">
                        <label>Gravidade</label>
                        <div class="ui segment issem-input-checkbox">
                            {{ form.gravidade }}
                            {% if form.gravidade.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.gravidade.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one wide field">
                        <label>Status</label>
                        <div class="ui segment issem-input-checkbox">
                            {{ form.status }}
                            {% if form.status.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.status.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="three wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>
{% endblock %}