{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">

            <h1 class="issem-cad">Cadastro de novo CID:</h1>
            <br/>
            <form class="ui form" id="CidForm" method="post" action="{% url 'issem:add_cid' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="">

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                    </div>
                    <div class="four wide field">
                        <label>Gravidade</label>
                        {{ form.gravidade }}
                    </div>
                    <div class="four wide field">
                        <label>Status</label>
                        {{ form.status }}
                    </div>
                </div>

                <br/>
                <div class="ui centered grid">
                    <div class="ui column centered row">
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>&nbsp;
                        <input type="button" name="cancelar" class="ui button red" value="Cancelar"/>&nbsp;
                        <input type="submit" name="cadastrar" class="ui button green" value="Cadastrar"/>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}