{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment">
                    {% if not id %}

                        <h1>Cadastro de novo CID:</h1>
                        <form class="ui form" id="CidForm" method="post" action="{% url 'issem:add_cid' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="">
                            <div class="fields">
                                <label>Descrição:</label>
                                <div class="twelve wide field">
                                    {{ form.descricao }}
                                </div>
                                <label>Gravidade:</label>
                                <div class="two wide field">
                                    {{ form.gravidade }}
                                </div>
                                <label>Status:</label>
                                <div class="two wide field">
                                    {{ form.status }}
                                </div>
                            </div>
                            <input type="submit" name="submit" class="ui button blue" value="Cadastrar"/>
                        </form>

                    {% else %}

                        <h1>Edição de CID</h1>
                        <form class="ui form" id="CidForm" method="post" action="{% url 'issem:add_cid' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <div class="fields">
                                <label>Descrição:</label>
                                <div class="twelve wide field">
                                    {{ form.descricao }}
                                </div>
                                <label>Gravidade:</label>
                                <div class="two wide field">
                                    {{ form.gravidade }}
                                </div>
                                <label>Status:</label>
                                <div class="two wide field">
                                    {{ form.status }}
                                </div>
                            </div>
                            <input type="submit" name="submit" class="ui button blue" value="Atualizar"/>
                        </form>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}