{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:lista_contatos_issem' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de Contato ISSEM:</h1>
            {% else %}
                <h1>Edição de Contato ISSEM</h1>
            {% endif %}

            <form class="ui form" id="CidForm" method="post" action="{% url 'issem:cad_contato_issem' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>Nome</label>
                        {{ form.nome }}
                        {% if form.nome.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.nome.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Cargo</label>
                        {{ form.cargo }}
                        {% if form.cargo.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.cargo.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Departamento</label>
                        {{ form.departamento }}
                        {% if form.departamento.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.departamento.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="two wide field"></div>
                </div>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Telefone</label>
                        <div class="fone_ddd">
                            {{ form.telefone }}
                            {% if form.telefone.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.telefone.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>E-mail</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field"></div>
                </div>

                <div class="fields">
                    <div class="three wide field"></div>
                    <div class="ten wide field">
                        <div class="ui red message">
                            Para cadastro de departamento, deixe em branco os campos <strong>Nome</strong> e <strong>Cargo</strong>.
                            <br/>
                        </div>
                    </div>
                    <div class="three wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>

{% endblock %}