{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de Contato ISSEM:</h1>
            {% else %}
                <h1>Edição de Contato ISSEM</h1>
            {% endif %}

            <form class="ui form" id="CidForm" method="post" action="{% url 'issem:cad_contato_issem' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>Telefone</label>
                        <div class="somente_numeros">
                            {{ form.telefone }}
                            {% if form.telefone.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.telefone.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="six wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="one wide field">
                        <label>E-mail</label>
                        <div class="ui segment issem-input-checkbox">
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="three wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>

{% endblock %}