{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">
            <a href="{% url 'issem:funcionario' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de novo Dependente:</h1>
            {% else %}
                <h1>Edição de Dependente</h1>
            {% endif %}

            <form class="ui form" id="DependenteForm" method="post" action="{% url 'issem:cad_dependente' %}">

                {% include 'formulario_pessoa.html' %}

                <h4 class="ui dividing red header">Dados específicos do Dependente</h4>
                <div class="fields">
                    <div class="six wide field">
                        <label>Tipo de Dependente</label>
                        {{ form.tipo }}
                        {{ form.tipo.errors }}
                    </div>
                    <div class="five wide field">
                        <label>Data de início</label>
                        <input name="data_inicial" id="id_data_inicial" onfocus="change_life()"/>
                    </div>
                    <div class="five wide field">
                        <label>Data de término</label>
                        <input name="data_final" id="id_data_final"/>
                    </div>
                </div>

                <br/>
                <div class="ui centered grid">
                    <div class="ui column centered row">
                        {% if not id %}
                            <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                        {% else %}
                            <input type="submit" name="submit" class="ui button green" value="Atualizar"/>
                        {% endif %}
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>&nbsp;
                        <button type="button" onclick="location.href='{% url "issem:funcionario" %}'" class="ui button red">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}