{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">

            <h1>Cadastro de novo Dependente:</h1>
            <form class="ui form" method="post" action="{% url 'issem:add_dependente' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="">

                <h4 class="ui dividing red header">Informações Pessoais</h4>
                <div class="fields">
                    <div class="four wide field">
                        <label>Nome</label>
                        {{ form.nome }}
                    </div>
                    <div class="four wide field">
                        <label>E-mail</label>
                        {{ form.email }}
                    </div>
                    <div class="four wide field">
                        <label>Data de Nascimento</label>
                        {{ form.data_nascimento }}
                    </div>
                    <div class="four wide field">
                        <label>CPF</label>
                        {{ form.cpf }}
                    </div>
                </div>

                <div class="fields">
                    <div class="four wide field">
                        <label>RG</label>
                        {{ form.rg }}
                    </div>
                    <div class="four wide field">
                        <label>Sexo</label>
                        {{ form.sexo }}
                    </div>
                    <div class="four wide field">
                        <label>Estado Civil</label>
                        {{ form.estado_civil }}
                    </div>
                    <div class="four wide field">
                        <label>Cargo</label>
                        {{ form.cargo }}
                    </div>
                </div>

                <div class="fields">
                    <div class="four wide field">
                        <label>Telefone Residencial</label>
                        {{ form.telefone_residencial }}
                    </div>
                    <div class="four wide field">
                        <label>Telefone Celular</label>
                        {{ form.telefone_celular }}
                    </div>
                    <div class="four wide field">
                        <label>Tipo Sanguineo</label>
                        {{ form.tipo_saguineo }}
                    </div>
                    <div class="four wide field">
                        <div class="">
                            <label>Doador</label>
                            {{ form.doador }}
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="four wide field">
                        <label>CEP</label>
                        {{ form.cep }}
                    </div>
                    <div class="four wide field">
                        <label>Estado</label>
                        <select onchange="get_cidade()" name="estado">
                            <option>Selecione um estado...</option>
                            {% for estado in estados %}
                                <option value="{{ estado.id }}">{{ estado.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="four wide field">
                        <label>Cidade Natural</label>
                        <select name="cidade_natural" id="cidade_atual" disabled="True">
                            <option>Selecione uma cidade...</option>
                        </select>
                    </div>
                    <div class="four wide field">
                        <label>Cidade Atual</label>
                        {{ form.cidade_atual }}
                    </div>
                </div>

                <h4 class="ui dividing red header">Dados específicos do Dependente</h4>
                <div class="fields">
                    <div class="six wide field">
                        <label>Tipo de Dependente</label>
                        {{ form.tipo }}
                    </div>
                    <div class="five wide field">
                        <label>Data de início (Dependente)</label>
                        <input type="date" name="data_inicio" id="id_data_inicio"
                               onchange="data_fim_teste(this.value)"/>
                    </div>
                    <div class="five wide field">
                        <label>Data de término (Dependente)</label>
                        <input type="date" name="data_fim" id="id_data_fim" disabled="True"/>
                    </div>
                </div>

                <br/>
                <div class="ui centered grid">
                    <div class="ui column centered row">
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>&nbsp;
                        <input type="button" name="cancelar" class="ui button red" value="Cancelar"/>&nbsp;
                        <input type="submit" name="cadastrar" class="ui button green" value="Cadastrar"/>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}