{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segment red">

                    <div class="ui grid">
                        <div class="left floated six wide column">
                            <h2>Dependentes</h2>
                        </div>
                        <div class="right floated right aligned six wide column">
                            <a href="{% url 'issem:cad_dependente' %}">
                                <div class="ui icon button green">
                                    <i class="plus icon"></i> Adicionar Novo
                                </div>
                            </a>
                        </div>
                    </div>

                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dependente in dependentes %}
                            <tr>
                                <td>{{ dependente.nome }}</td>
                                <td>{{ dependente.cpf }}</td>
                                <td>{{ dependente.email }}</td>

                                <td class="ui right aligned">
                                    <a href="{% url 'issem:edita_dependente' dependente.id %}">
                                        <button class="ui icon button blue"><i class="edit icon"></i></button>
                                    </a>

                                    <a href="{% url 'issem:deleta_dependente' dependente.id %}">
                                        <button class="ui icon button red">
                                            <i class="remove icon"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}