{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing red header">Informações Pessoais</h4>
<div class="fields">
    <div class="four wide field">
        <label>Nome</label>
        {{ form.nome }}
        {% if form.nome.errors %}
            <div class="ui pointing red basic label issem-required-field">
                {{ form.nome.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>CPF</label>
        {{ form.cpf }}
        {% if form.cpf.errors %}
            <div class="ui pointing red basic label issem-required-field">
                {{ form.cpf.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>RG</label>
        {{ form.rg }}
        {% if form.rg.errors %}
            <div class="ui pointing red basic label issem-required-field">
                {{ form.rg.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Data de Nascimento</label>
        {{ form.data_nascimento }}
        {{ form.data_nascimento.errors }}
    </div>
</div>
<div class="fields">
    <div class="four wide field">
        <label>Cargo</label>
        {{ form.cargo }}
        {{ form.cargo.errors }}
    </div>
    <div class="four wide field">
        <label>Estado Civil</label>
        {{ form.estado_civil }}
        {{ form.estado_civil.errors }}
    </div>
    <div class="four wide field">
        <label>Sexo</label>
        <div class="issem-input-radio">
            {{ form.sexo }}
        </div>
    </div>
    <div class="two wide field issem-input-small">
        <label>Tipo Sanguíneo</label>
        {{ form.tipo_sanguineo }}
        {{ form.tipo_sanguineo.errors }}
    </div>
    <div class="two wide field">
        <label>Doador</label>
        <div class="ui segment issem-input-checkbox">
            {{ form.doador }}
            {{ form.doador.errors }}
        </div>
    </div>
</div>
<div class="fields">
    <div class="four wide field">
        <label>E-mail</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="four wide field">
        <label>Telefone Residencial</label>
        {{ form.telefone_residencial }}
        {{ form.telefone_residencial.errors }}
    </div>
    <div class="four wide field">
        <label>Telefone Celular</label>
        {{ form.telefone_celular }}
        {{ form.telefone_celular.errors }}
    </div>
    <div class="four wide field">
        <label>CEP</label>
        {{ form.cep }}
        {% if form.cep.errors %}
            <div class="ui pointing red basic label issem-required-field">
                {{ form.cep.errors }}
            </div>
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label>Estado (Natural)</label>
        {{ form.estado_natural }}
    </div>
    <div class="four wide field">
        <label>Cidade Natural</label>
        {{ form.cidade_natural }}
        {{ form.cidade_natural.erros }}
    </div>

    <div class="four wide field">
        <label>Estado (Atual)</label>
        {{ form.estado_atual }}
    </div>
    <div class="four wide field">
        <label>Cidade Atual</label>
        {{ form.cidade_atual }}
        {{ form.cidade_atual.errors }}
    </div>

</div>
<div class="fields">
    <div class="four wide field">
        <label>Endereço</label>
        {{ form.endereco }}
        {{ form.endereco.errors }}
    </div>
    <div class="four wide field">
        <label>Bairro</label>
        {{ form.bairro }}
        {{ form.bairro.errors }}
    </div>
    <div class="four wide field">
        <label>Complemento</label>
        {{ form.complemento }}
        {{ form.complemento.errors }}
    </div>
    <div class="four wide field">
        <label>Nº Residencial</label>
        {{ form.numero_endereco }}
        {{ form.numero_endereco.errors }}
    </div>
</div>
<div class="fields">
    <div class="four wide field"></div>
    <div class="four wide field">
        <label>Nome do pai</label>
        {{ form.nome_pai }}
        {{ form.nome_pai.errors }}
    </div>
    <div class="four wide field">
        <label>Nome da mãe</label>
        {{ form.nome_mae }}
        {% if form.nome_mae.errors %}
            <div class="ui pointing red basic label issem-required-field">
                {{ form.nome_mae.errors }}
            </div>
        {% endif %}
    </div>
</div>
