{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment">
                    {% if not id %}

                        <h1>Cadastro de nova Função:</h1>
                        <form class="ui form" id="FuncaoForm" method="post" action="{% url 'issem:add_funcao' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="">
                            <div class="fields">
                                <div class="ten wide field">
                                    <label>Nome:</label>
                                    {{ form.nome }}
                                </div>
                            </div>
                         <input type="submit" name="submit" class="ui button blue" value="Cadastrar"/>
                        </form>

                    {% else %}

                        <h1>Edição de Função</h1>
                        <form class="ui form" id="FuncaoForm" method="post" action="{% url 'issem:add_funcao' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <div class="fields">
                                <div class="fourteen wide field">
                                    <label>Nome:</label>
                                    {{ form.nome }}
                                </div>
                                <input type="submit" name="submit" class="ui button blue" value="Atualizar"/>
                            </div>
                        </form>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}