{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="calendar outline icon"></i> Agendamento</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:tabela_agendamentos' %}" class="item">Agenda <i class="calendar icon"></i></a>
                        <a href="{% url 'issem:tabela_requerimentos_sem_agendamento' %}" class="item">Requerimentos sem agendamento</a>
                        {% for beneficio in beneficios %}
                            <a href="{% url 'issem:cad_requerimento_servidor' beneficio.id %} " class="item">{{ beneficio.descricao }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="users icon"></i> Servidor/Segurado</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:apresenta_servidor' %}" class="item">Servidores</a>
                        <a href="{% url 'issem:apresenta_segurado' %}" class="item">Segurados</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="plus icon"></i> Cadastros</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:cad_segurado' %}" class="item">Segurado</a>
                        <a href="{% url 'issem:cad_dependente' %}" class="item">Dependente</a>
                        <a href="{% url 'issem:cad_servidor' %}" class="item">Servidor</a>
                        <a href="{% url 'issem:cad_departamento' %}" class="item">Departamento</a>
                        <a href="{% url 'issem:cad_cid' %}" class="item">CID</a>
                        <a href="{% url 'issem:cad_procedimento_medico' %}" class="item">Procedimento Médico</a>
                        <a href="{% url 'issem:edita_consulta_parametros' 2 %}" class="item">Consultas Parâmetros</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="bar chart icon"></i> Analytics</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:edita_consulta_parametros' 1 %}" class="item">Editar parâmetros de consulta</a>
                        <div class="item">Choice 1</div>
                        <div class="item">Choice 2</div>
                        <div class="item">Choice 3</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}