<html>{% load static %}
<head>
    <title>ISSEM</title>
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
</head>
<body>
<div class="ui one column grid">
    <div class="row">
        <div class="column">
            <div class="ui segment blue"></div>
        </div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column">
            <div class="ui segment"></div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="four column grid">
                    <div class="row">
                        <div class="column"><div class="ui segment">1</div></div>
                        <div class="column"><div class="ui segment">2</div></div>
                        <div class="column"><div class="ui segment">3</div></div>
                        <div class="column"><div class="ui segment">4</div></div>
                        <div class="column"><div class="ui segment">5</div></div>
                        <div class="column"><div class="ui segment">6</div></div>
                        <div class="column"><div class="ui segment">7</div></div>
                        <div class="column"><div class="ui segment">8</div></div>
                        <div class="column"><div class="ui segment">9</div></div>
                        <div class="column"><div class="ui segment">10</div></div>
                        <div class="column"><div class="ui segment">11</div></div>
                        <div class="column"><div class="ui segment">12</div></div>
                        <div class="column"><div class="ui segment">13</div></div>
                        <div class="column"><div class="ui segment">14</div></div>
                        <div class="column"><div class="ui segment">15</div></div>
                        <div class="column"><div class="ui segment">16</div></div>
                        <div class="column"><div class="ui segment">17</div></div>
                        <div class="column"><div class="ui segment">18</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column centered grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Departamentos</h2>

                {% for departamento in departamentos %}
                    <div class="ui existing segment">
                        {{ departamento.nome }}
                        <a href="{% url 'issem:edita_departamento' departamento.id %}" class="ui button red">Editar</a>
                        <a href="{% url 'issem:deleta_departamento' departamento.id %}" class="ui button red">Deletar</a>
                        <br/>
                    </div>
                {% endfor %}
                <a href="{% url 'issem:add_departamento' %}" class="ui button blue">Cadastrar Departamento</a>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>CIDs</h2>
                {% for cid in cids %}
                    <strong>
                        {{ cid.descricao }}
                        <a href="{% url 'issem:edita_cid' cid.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_cid' cid.id %}">Deletar</a>
                    <br/>
                    </strong>
                {% endfor %}

                <a href="{% url 'issem:add_cid' %}" class="ui blue button">Cadastrar CID</a>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Procedimentos Médicos</h2>

                {% for procedimento in procedimentos_medicos %}
                    <strong>
                        {{ procedimento.descricao }}
                        <a href="{% url 'issem:edita_procedimento_medico' procedimento.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_procedimento_medico' procedimento.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}

                <p><a href="{% url 'issem:add_procedimento_medico' %}" class="ui blue button">Cadastrar Procedimento Médico</a></p>
             </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Benefícios</h2>

                {% for beneficio in beneficios %}
                    <strong>
                        {{ beneficio.descricao }}
                        <a href="{% url 'issem:edita_beneficio' beneficio.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_beneficio' beneficio.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}

                <p><a href="{% url 'issem:add_beneficio' %}" class="ui blue button">Cadastrar Benefício</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Funções</h2>
                {% for funcao in funcoes %}
                    <strong>
                        {{ funcao.nome }}
                        <a href="{% url 'issem:edita_funcao' funcao.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_funcao' funcao.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}

                <p><a href="{% url 'issem:add_funcao' %}" class="ui blue button">Cadastrar Função</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Cargos</h2>
                {% for cargo in cargos %}
                    <strong>
                        {{ cargo.nome }}
                        <a href="{% url 'issem:edita_cargo' cargo.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_cargo' cargo.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}

                <p><a href="{% url 'issem:add_cargo' %}" class="ui blue button">Cadastrar Cargo</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Tipo Dependente</h2>

                {% for tipo_dependente in tipo_dependente %}
                    <strong>
                        {{ tipo_dependente.nome }}
                        <a href="{% url 'issem:edita_tipo_dependente' tipo_dependente.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_tipo_dependente' tipo_dependente.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}
                <p><a href="{% url 'issem:add_tipo_dependente' %}" class="ui blue button">Cadastrar Tipo Dependente</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Tipo de Sangue</h2>

                {% for tipo_sangue in tipo_sangue %}
                    <strong>
                        {{ tipo_sangue.nome }}
                        <a href="{% url 'issem:edita_tipo_sangue' tipo_sangue.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_tipo_sangue' tipo_sangue.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}
                <p><a href="{% url 'issem:add_tipo_sangue' %}" class="ui blue button">Cadastrar Tipo de Sangue</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Estado Civil</h2>

                {% for estado_civil in estado_civil %}
                    <strong>
                        {{ estado_civil.nome }}
                        <a href="{% url 'issem:edita_estado_civil' estado_civil.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_estado_civil' estado_civil.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}
                <p><a href="{% url 'issem:add_estado_civil' %}" class="ui blue button">Cadastrar Estado Civil</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Secretaria</h2>

                {% for secretaria in secretaria %}
                    <strong>
                        {{ secretaria.nome }}
                        <a href="{% url 'issem:edita_secretaria' secretaria.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_secretaria' secretaria.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}
                <p><a href="{% url 'issem:add_secretaria' %}" class="ui blue button">Cadastrar Secretaria</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui three column grid">
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ui segment">
                <h2>Local de Trabalho</h2>

                {% for local_trabalho in local_trabalho %}
                    <strong>
                        {{ local_trabalho.nome }}
                        <a href="{% url 'issem:edita_local_trabalho' local_trabalho.id %}">Editar</a>
                        <a href="{% url 'issem:deleta_local_trabalho' local_trabalho.id %}">Deletar</a>
                        <br/>
                    </strong>
                {% endfor %}
                <p><a href="{% url 'issem:add_local_trabalho' %}" class="ui blue button">Cadastrar Local de Trabalho</a></p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>

<div class="ui one column inverted grid">
    <div class="row">
        <div class="column">
            <div class="ui segment red"></div>
        </div>
    </div>
</div>


</body>

</html>