{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment">
                    {% if not id %}

                        <h1>Cadastro de novo Local de Trabalho:</h1>
                        <form class="ui form" id="LocalTrabalhoForm" method="post"
                              action="{% url 'issem:add_local_trabalho' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="">
                            <div class="fields">
                                <label>Nome:</label>
                                <div class="eight wide field">
                                    {{ form.nome }}
                                </div>
                                <label>CNPJ:</label>
                                <div class="eight wide field">
                                    {{ form.cnpj }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>Endereço:</label>
                                <div class="twelve wide field">
                                    {{ form.endereco }}
                                </div>
                                <label>Número:</label>
                                <div class="four wide field">
                                    {{ form.numero_endereco }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>Complemento:</label>
                                <div class="six wide field">
                                    {{ form.complemento }}
                                </div>
                                <label>Bairro:</label>
                                <div class="ten wide field">
                                    {{ form.bairro }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>CEP:</label>
                                <div class="five wide field">
                                    {{ form.cep }}
                                </div>
                                <label>Cidade:</label>
                                <div class="five wide field">
                                    {{ form.cidade }}
                                </div>
                                <label>Secretaria:</label>
                                <div class="five wide field">
                                    {{ form.secretaria }}
                                </div>
                                <div class="one wide field">
                                    <a href="{% url 'issem:add_secretaria' %}">
                                        <button class="ui icon button"><i class="plus icon"></i></button>
                                    </a>
                                </div>
                            </div>
                            <br/>
                            <input type="submit" name="submit" class="ui button blue" value="Cadastrar"/>
                        </form>

                    {% else %}

                        <h1>Edição Local de Trabalho</h1>
                        <form class="ui form" id="LocalTrabalhoForm" method="post"
                              action="{% url 'issem:add_local_trabalho' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <div class="fields">
                                <label>Nome:</label>
                                <div class="eight wide field">
                                    {{ form.nome }}
                                </div>
                                <label>CNPJ:</label>
                                <div class="eight wide field">
                                    {{ form.cnpj }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>Endereço:</label>
                                <div class="twelve wide field">
                                    {{ form.endereco }}
                                </div>
                                <label>Número:</label>
                                <div class="four wide field">
                                    {{ form.numero_endereco }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>Complemento:</label>
                                <div class="six wide field">
                                    {{ form.complemento }}
                                </div>
                                <label>Bairro:</label>
                                <div class="ten wide field">
                                    {{ form.bairro }}
                                </div>
                            </div>
                            <div class="fields">
                                <label>CEP:</label>
                                <div class="five wide field">
                                    {{ form.cep }}
                                </div>
                                <label>Cidade:</label>
                                <div class="five wide field">
                                    {{ form.cidade }}
                                </div>
                                <label>Secretaria:</label>
                                <div class="six wide field">
                                    {{ form.secretaria }}
                                </div>
                            </div>
                            <input type="submit" name="submit" class="ui button blue" value="Atualizar"/>
                        </form>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}