{% extends 'base.html' %}

{% block body_tag %}
    <body onload="get_cidade_local_trabalho()">
{% endblock %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">
            <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de novo Local de Trabalho:</h1>
            {% else %}
                <h1>Edição de Local de Trabalho</h1>
            {% endif %}

            <form class="ui form" id="LocalTrabalhoForm" method="post" action="{% url 'issem:cad_local_trabalho' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="five wide field">
                        <label>Nome:</label>
                        {{ form.nome }}
                        {% if form.nome.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.nome.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="five wide field">
                        <label>CNPJ:</label>
                        <div class="cnpj">
                            {{ form.cnpj }}
                            {% if form.cnpj.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.cnpj.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="five wide field">
                        <label>Secretaria:</label>
                        {{ form.secretaria }}
                        {% if form.secretaria.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.secretaria.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="one wide field">
                        <label> </label>
                        <div class="ui icon button" id="CadastroSecretaria"><i class="plus icon"></i></div>
                    </div>
                </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Endereço:</label>
                        {{ form.endereco }}
                        {% if form.endereco.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.endereco.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="five wide field">
                        <label>Número:</label>
                        <div class="dez_digitos">
                            {{ form.numero_endereco }}
                            {% if form.numero_endereco.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.numero_endereco.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="five wide field">
                        <label>Complemento:</label>
                        {{ form.complemento }}
                        {% if form.complemento.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.complemento.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="fields">
                    <div class="four wide field">
                        <label>Bairro:</label>
                        {{ form.bairro }}
                        {% if form.bairro.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.bairro.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>CEP:</label>
                        <div class="cep">
                            {{ form.cep }}
                            {% if form.cep.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.cep.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>Estado</label>
                        {{ form.estados }}
                        {% if form.estados.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.estados.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Cidade</label>
                        {{ form.cidade }}
                        {% if form.cidade.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.cidade.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>
        </div>
    </div>

    <!-- MODAL -->
    <div class="ui form modal">
        <i class="close icon"></i>
        <div class="header">
            Cadastrar Secretaria
        </div>
        <div class="fields">
            <div class="twelve wide field">
                <label>Nome:</label>
                <input type="text" id="id_sec" name="sec"/>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right">
                <input type="button" onclick="get_secretaria()" class="ui button blue" value="Cadastrar"/>
            </div>
        </div>
    </div>
    <!-- /MODAL -->

{% endblock %}