{% extends "base.html" %}

{% block body_block %}
    {% load sistema %}
    <div class="ui centered grid issem-grid">

        {% if msg %}
            <div class="ui {{ tipo_msg }} message">
                <div class="header">
                    {{ msg|safe }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="four wide column">
                <div class="ui segment">
                    <form class="ui large form" action="{% url 'issem:login' %}" method="post">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="sixteen wide field">
                                <label>Usuário:</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    {{ form.username }}
                                </div>

                                {% if form.username.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ form.username.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="fields">
                            <div class="sixteen wide field">
                                <label>Senha:</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    {{ form.password }}
                                </div>

                                {% if form.password.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ form.password.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <br/>
                        <div class="ui centered grid">
                            <input type="submit" name="submit" class="ui button blue center" value="Login"/>
                        </div>
                        <br/>
                        <br/>
                    </form>
                    <div class="ui centered grid">
                        <div class="sixteen wide column centered aligned">
                            <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="one wide column">
                <div class="ui vertical divider">
                    <i class="ellipsis vertical icon"></i>
                </div>

            </div>
            <div class="ui eleven wide column segment">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h1><i class="info circle icon"></i> SPISSEM - Software de Perícia do ISSEM</h1>
                        <section class="issem-info-texto">
                            {% issem_info %}
                        </section>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}