{% extends 'base.html' %}

{% block body_block %}

    <div class="ui grid">
        <div class="row">
            <div class="three wide column"></div>
            <div class="twelve wide column">
                <div class="ui stackable grid">
                    <div class="ui center aligned row">
                        <div class="ui four wide column">
                            <div class="ui menu">
                                <div class="ui dropdown fluid segment">
                                    <h2>
                                        <i class="calendar outline icon"></i>
                                        <div class="content">Perícias</div>
                                        <div class="ui divider"></div>
                                    </h2>
                                    <div class="menu">
                                        <div class="wide item"><a href="#">Teste 1</a></div>
                                        <div class="wide item"><a href="#">Teste 2</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui four wide column">
                            <div class="ui menu">
                                <div class="ui dropdown fluid segment">
                                    <h2>
                                        <i class="users icon"></i>
                                        <div class="content">Laudos Médicos</div>
                                        <div class="ui divider"></div>
                                    </h2>
                                    <div class="menu">
                                        <div class="wide item"><a href="#">Teste 1</a></div>
                                        <div class="wide item"><a href="#">Teste 2</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui four wide column">
                            <div class="ui menu">
                                <div class="ui dropdown fluid segment">
                                    <h2>
                                        <i class="users icon"></i>
                                        <div class="content">Analytics</div>
                                        <div class="ui divider"></div>
                                    </h2>
                                    <div class="menu">
                                        <div class="wide item"><a href="#">Teste 1</a></div>
                                        <div class="wide item"><a href="#">Teste 2</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}