{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="treatment icon"></i> Perícias</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <a href="{% url 'issem:tabela_agendamentos' %}" class="item">Agenda <i class="calendar icon"></i></a>
                        <div class="item">Choice 1</div>
                        <div class="item">Choice 2</div>
                        <div class="item">Choice 3</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="doctor icon"></i> Laudos Médicos</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        {% for tipo_laudo in tipos_laudo %}
                            <a href="{% url 'issem:cad_laudo' tipo_laudo.id %} " class="item">{{ tipo_laudo.nome }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui menu">
                <div class="ui dropdown fluid selection issem-dropdown">
                    <h3 class="ui header"><i class="bar chart icon"></i> Analytics</h3>

                    {# DROPDOWN #}
                    <div class="menu">
                        <div class="item">Choice 1</div>
                        <div class="item">Choice 2</div>
                        <div class="item">Choice 3</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
