{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:funcionario' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de novo Procedimento Médico:</h1>
            {% else %}
                <h1>Edição de Procedimento Médico:</h1>
            {% endif %}

            <br/>
            <form class="ui form" id="ProcedimentoMedicoForm" method="post"
                  action="{% url 'issem:cad_procedimento_medico' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Código</label>
                        {{ form.codigo }}
                        {% if form.codigo.errors %}
                            <div class="ui pointing red basic label issem-error-field">
                                {{ form.codigo.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label issem-error-field">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field"></div>
                </div>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Porte</label>
                        {{ form.porte }}
                        {% if form.porte.errors %}
                            <div class="ui pointing red basic label issem-error-field">
                                {{ form.porte.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Custo de Operação</label>
                        {{ form.custo_operacao }}
                        {% if form.custo_operacao.errors %}
                            <div class="ui pointing red basic label issem-error-field">
                                {{ form.custo_operacao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>

{% endblock %}