{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:funcionario' %}"><i class="big arrow circle left icon red"></i></a>

            {% if user.groups.all.0.name == 'Servidor' %}
                <a href="{% url 'issem:apresenta_procedimento_medico' %}">Ver lista de Procedimentos Médicos</a>
            {% endif %}

            {% if not id %}
                <h1>Cadastro de Procedimento Médico:</h1>
            {% else %}
                <h1>Edição de Procedimento Médico:</h1>
            {% endif %}

            <br/>
            <form class="ui form" id="ProcedimentoMedicoForm" method="post"
                  action="{% url 'issem:cad_procedimento_medico' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>Código</label>
                        <div class="somente_numeros">
                            {{ form.codigo }}
                            {% if form.codigo.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.codigo.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>Valor</label>
                        <div class="valor">
                        {{ form.valor }}
                        {% if form.valor.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.valor.errors }}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>

{% endblock %}