{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">
            <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1 class="issem-cad">Cadastro de novo Procedimento Médico:</h1>
            {% else %}
                <h1 class="issem-cad">Edição de Procedimento Médico:</h1>
            {% endif %}

            <br/>
            <form class="ui form" id="ProcedimentoMedicoForm" method="post"
                  action="{% url 'issem:cad_procedimento_medico' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="four wide field">
                        <label>Código</label>
                        {{ form.codigo }}
                    </div>
                    <div class="four wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                    </div>
                    <div class="four wide field">
                        <label>Porte</label>
                        {{ form.porte }}
                    </div>
                    <div class="four wide field">
                        <label>Custo de Operação</label>
                        {{ form.custo_operacao }}
                    </div>
                </div>

                <br/>
                <div class="ui centered grid">
                    <div class="ui column centered row">
                        {% if not id %}
                            <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                        {% else %}
                            <input type="submit" name="submit" class="ui button green" value="Atualizar"/>
                        {% endif %}
                        <input type="reset" name="limpar" class="ui button default" value="Limpar"/>&nbsp;
                        <button type="button" onclick="location.href={% url 'issem:index' %}" class="ui button red">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}