{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input();">
{% endblock %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:segurado' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Requerimento de {{ beneficio_descricao }}</h1>
            {% else %}
                <h1>Edição de Requerimento {{ beneficio_descricao }}</h1>
            {% endif %}

            {% if not msg %}
                <form class="ui form" id="RequerimentoForm" method="post"
                      action="{% url 'issem:cad_requerimento' id_beneficio %}">
                    {% csrf_token %}

                    {% if not id %}
                        <input type="hidden" name="id" value="">
                    {% else %}
                        <input type="hidden" name="id" value="{{ id }}">
                    {% endif %}

                    <select id="id_beneficio" name="beneficio" type="hidden" style="display:none">
                        <option value="{{ id_beneficio }}">beneficio</option>
                    </select>

                    <select id="id_segurado" name="segurado" type="hidden" style="display:none">
                        <option value="{{ id_usuario }}"></option>
                    </select>

                    <div class="fields">
                        <div class="four wide field"></div>
                        <div class="four wide field">
                            {% if beneficio_descricao == "Prorrogação do benefício por incapacidade" %}
                                <label>Data início do benefício <i class="asterisk icon red"></i></label>
                            {% else %}
                                <label>Data início do afastamento <i class="asterisk icon red"></i></label>
                            {% endif %}
                            {{ form.data_inicio_afastamento }}
                            {% if form.data_inicio_afastamento.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.data_inicio_afastamento.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="four wide field">
                            {% if beneficio_descricao == "Prorrogação do benefício por incapacidade" %}
                                <label>Data final do benefício <i class="asterisk icon red"></i></label>
                            {% else %}
                                <label>Data final do afastamento <i class="asterisk icon red"></i></label>
                            {% endif %}
                            {{ form.data_final_afastamento }}
                            {% if form.data_final_afastamento.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.data_final_afastamento.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="four wide field"></div>

                    </div>

                    <i class="asterisk icon red"></i>Só poderão ser realizados requerimentos online para afastamentos com períodos maiores que 15(quinze) dias.
                    {% include 'blocos/buttons_form.html' %}
                </form>

            {% else %}
                <h5>{{ msg }}</h5>
            {% endif %}


        </div>
    </div>

{% endblock %}