{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input(); get_cidade_natural(); get_cidade_atual()">
{% endblock %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">

            {% if msg %}
                <div class="ui {{ tipo_msg }} message">
                    <div class="header">
                        {{ msg }}
                    </div>
                </div>
            {% endif %}

            <br/>
            {% if not id %}
                <h1>Cadastro de Segurado:</h1>
            {% else %}
                <div class="ui grid">
                    <div class="left floated four wide column">
                        <a href="{% url 'issem:lista_segurados' %}">
                            <div class="ui labeled icon button basic">
                                <i class="left arrow icon"></i> Voltar
                            </div>
                        </a>
                    </div>
                    <div class="issem-title-edit-page">
                        <h1>Edição de Segurado</h1>
                    </div>
                    <div class="right floated right aligned four wide column">
                        <a href="{% url 'issem:edita_senha' id id_group_user %}">
                            <div class="ui labeled icon button red">
                                <i class="key icon"></i> Alterar Senha
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}

            <br/>

            {% if not id %}
                <form class="ui form" id="SeguradoForm" method="post" action="{% url 'issem:cad_segurado' %}">
            {% else %}
                <form class="ui form" id="SeguradoForm" method="post" action="{% url 'issem:edita_segurado' id %}">
            {% endif %}

                {% include 'blocos/formulario_pessoa.html' %}

                <h4 class="ui dividing red header">Dados específicos do Segurado</h4>
                <div class="fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>Local de Trabalho</label>
                        {{ form.local_trabalho }}
                        {% if form.local_trabalho.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.local_trabalho.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="two wide field">
                        <label>PIS/PASEP/NIT</label>
                        <div class="somente_numeros">
                            {{ form.pasep_pis_nit }}
                            {% if form.pasep_pis_nit.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.pasep_pis_nit.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="two wide field">
                        <label>Documento legal</label>
                        <div class="somente_numeros">
                            {{ form.documento_legal }}
                            {% if form.documento_legal.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.documento_legal.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>Data de Admissão</label>
                        <div class="data">
                            {{ form.data_admissao }}
                            {% if form.data_admissao.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.data_admissao.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {#                    <div class="four wide field">#}
                    {#                        <label>Dependente</label>#}
                    {#                        {{ form.dependente }}#}
                    {#                        {% if form.dependente.errors %}#}
                    {#                            <div class="ui pointing red basic label">#}
                    {#                                {{ form.dependente.errors }}#}
                    {#                            </div>#}
                    {#                        {% endif %}#}
                    {#                    </div>#}
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>

        </div>
    </div>

{% endblock %}
