{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="ten wide column">
                <div class="ui segment red">
                    <h2>Segurados</h2>
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>E-mail</th>
                            <th>AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for segurado in segurados %}
                            <tr>
                                <td>{{ segurado.nome }}</td>
                                <td>{{ segurado.cpf }}</td>
                                <td>{{ segurado.email }}</td>

                                <td><a href="{% url 'issem:edita_segurado' segurado.id %}">
                                    <button class="ui icon button"><i class="edit icon"></i></button>
                                </a>

                                    <a href="{% url 'issem:deleta_segurado' segurado.id %}">
                                        <button class="ui icon button">
                                            <i class="remove icon"></i></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}