{% extends 'base.html' %}

{% block body_tag %}
    <body onload="calendar_input(); get_cidade_natural(); get_cidade_atual()">
{% endblock %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment">
            <a href="{% url 'issem:lista_servidores' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de novo Servidor:</h1>
            {% else %}
                <h1>Edição de Servidor</h1>
            {% endif %}

            <form class="ui form" id="ServidorForm" method="post" action="{% url 'issem:cad_servidor' %}">

                {% include 'blocos/formulario_pessoa.html' %}

                <h4 class="ui dividing red header">Dados específicos do Servidor</h4>
                <div class="fields">
                    <div class="four wide field"></div>
                    <div class="four wide field">
                        <label>Departamento <i class="asterisk icon red"></i></label>
                        {{ form.groups }}
                        {% if form.groups.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.groups.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="four wide field">
                        <label>CRM</label>
                        <div class="crm">
                            {{ form.crm }}
                            {% if form.crm.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.crm.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>
        </div>
    </div>

{% endblock %}