{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segment red">

                    <div class="ui grid">
                        <div class="left floated six wide column">
                            <h2>Agendamentos</h2>
                        </div>
                    </div>

                    {% if agendamentos %}
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Hora</th>
                                <th>Segurado</th>
                                <th>Benefício</th>
                                <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agendamento in agendamentos %}
                                <tr>
                                    <td>{{ agendamento.data_pericia }}</td>
                                    <td>{{ agendamento.hora_pericia }}</td>
                                    <td>{{ agendamento.requerimento.segurado }}</td>
                                    <td>{{ agendamento.requerimento.beneficio }}</td>

                                    <td class="ui right aligned">
                                        <a href="{% url 'issem:edita_requerimento' agendamento.requerimento.id agendamento.id %}">
                                            <button class="ui icon button blue"><i class="edit icon"></i></button>
                                        </a>

                                        <a href="{% url 'issem:deleta_requerimento' agendamento.requerimento.id agendamento.id %}">
                                            <button class="ui icon button red">
                                                <i class="remove icon"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                    {% else %}
                        <div class="ui warning message">
                            <div class="header"> Não existem agendamentos cadastrados!</div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}