{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment red issem-cad">

            <div class="fields">
                <div class="ten wide column">
                    <h2>Requerimentos sem agendamento</h2>
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>DATA REQUERIMENTO</th>
                            <th>SEGURADO</th>
                            <th>BENEFÍCIO</th>
                            <th>AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for requerimento in requerimentos %}
                            <tr>
                                <td>{{ requerimento.data_requerimento }}</td>
                                <td>{{ requerimento.segurado }}</td>
                                <td>{{ requerimento.beneficio }}</td>
                                <td>
                                    <a href="{% url 'issem:define_agendamento' requerimento.id %}">Gerar agendamento</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}