{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segment red">

                    <div class="ui grid">
                        <div class="left floated six wide column">
                            <h2>Requerimentos sem agendamento</h2>
                        </div>
                    </div>

                    {% if requerimentos %}
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Data de Requerimento</th>
                                <th>Segurado</th>
                                <th>Benefício</th>
                                <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for requerimento in requerimentos %}
                                <tr>
                                    <td>{{ requerimento.data_requerimento }}</td>
                                    <td>{{ requerimento.segurado }}</td>
                                    <td>{{ requerimento.beneficio }}</td>
                                    <td class="ui right aligned">
                                        <a href="{% url 'issem:define_agendamento' requerimento.id %}">
                                            <button class="ui icon button blue">Gerar agendamento <i
                                                    class="calendar icon"></i></button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                    {% else %}
                        <div class="ui warning message">
                            <div class="header"> Não existe agendamentos!</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}