{% extends 'base.html' %}

{% block body_block %}

    {% if not id %}

        <h1>Cadastro de novo TipoExame:</h1>
        <form class="ui form" id="TipoExameForm" method="post" action="{% url 'issem:add_tipo_exame' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="">
            {{ form.as_p }}
            <input type="submit" name="submit" class="ui button blue" value="Cadastrar" />
        </form>

    {% else %}

        <h1>Edição de Tipo Exame</h1>
        <form class="ui form" id="TipoExameForm" method="post" action="{% url 'issem:add_tipo_exame' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ id }}">
            {{ form.as_p }}
            <input type="submit" name="submit" class="ui button blue" value="Atualizar" />
        </form>

    {% endif %}

{% endblock %}
