{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segment red">

                    <div class="ui grid">
                        <div class="left floated six wide column">
                            <h2>Tipos de Laudos</h2>
                        </div>
                        <div class="right floated right aligned six wide column">
                            <a href="{% url 'issem:cad_tipo_laudo' %}">
                                <div class="ui icon button green">
                                    <i class="plus icon"></i> Adicionar Novo
                                </div>
                            </a>
                        </div>
                    </div>

                    {% if dados %}
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Descrição</th>
                                <th class="ui right aligned">AÇÕES <i class="setting icon"></i>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dado in dados %}
                                <tr>
                                    {% if dado.nome != "" %}
                                        <td>{{ dado.nome }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    <td class="ui right aligned">
                                        <a href="{% url 'issem:edita_tipo_laudo' dado.id %}">
                                            <button class="ui icon button blue"><i class="edit icon"></i></button>
                                        </a>

                                        <a href="{% url 'issem:deleta_tipo_laudo' dado.id %}">
                                            <button class="ui icon button red">
                                                <i class="remove icon"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                        </table>
                    {% else %}
                        <div class="ui yellow message">
                            <div class="header">
                                Não existem dados cadastrados
                            </div>
                        </div>
                    {% endif %}
                    {% include 'blocos/pagination.html' %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}