{% extends 'base.html' %}

{% block body_block %}
    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment issem-segment-border">

            {% if msg %}
                <div class="sixteen wide column issem-div-message">
                    <div class="ui {{ tipo_msg }} message">
                        <div class="header">
                            {{ msg }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="three wide column">
                <a href="{% url 'issem:lista_tipo_laudo' %}">
                    <div class="ui labeled icon button basic">
                        <i class="left arrow icon"></i> Voltar
                    </div>
                </a>
            </div>

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    {% if not id %}
                        <h1><i class="plus icon"></i> Cadastro de Tipo de Laudo</h1>
                    {% else %}
                        <h1><i class="edit icon"></i> Edição de Tipo de Laudo</h1>
                    {% endif %}
                </div>
            </div>

            <div class="three wide column">
                {% if id %}
                    <a class="ui right floated labeled icon button red abrirModalConfirmacao" href="#">
                        <i class="trash icon"></i> Excluir
                    </a>
                {% endif %}
            </div>

            <div class="sixteen wide column issem-table-form">
                <form class="ui form" id="CidForm" method="post" action="{% url 'issem:cad_tipo_laudo' %}">
                    {% csrf_token %}

                    {% if not id %}
                        <input type="hidden" name="id" value="">
                    {% else %}
                        <input type="hidden" name="id" value="{{ id }}">
                    {% endif %}

                    <div class="fields">
                        <div class="five wide field"></div>
                        <div class="six wide field">
                            <label>Nome</label>
                            {{ form.nome }}
                            {% if form.nome.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.nome.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% include 'blocos/buttons_form.html' %}
                </form>

            </div>
        </div>
    </div>

    {% if id %}
        {#========== MODAL ==========#}
        <div class="ui small modal modalConfirmacao">
            <i class="close icon"></i>
            <div class="ui icon header">
                <i class="trash icon"></i>
                Deseja realmente excluir?
            </div>
            <div class="ui actions">
                <div class="ui green ok inverted button">
                    Não
                </div>
                <a class="ui red ok inverted button" href="{% url 'issem:deleta_tipo_laudo' id %}">
                    <i class="remove icon"></i>
                    Sim
                </a>
            </div>
        </div>
        {#========== / MODAL ==========#}
    {% endif %}

{% endblock %}