{% extends 'base.html' %}

{% block body_block %}

    <div class="ui centered row">
        <div class="ui segment issem-cad">
            <a href="{% url 'issem:index' %}"><i class="big arrow circle left icon red"></i></a>

            {% if not id %}
                <h1>Cadastro de novo Tipo Dependente:</h1>
            {% else %}
                <h1>Edição de Tipo Dependente</h1>
            {% endif %}

            <br/>
            <form class="ui form" id="TipoDependenteForm" method="post"
                  action="{% url 'issem:cad_tipo_dependente' %}">
                {% csrf_token %}

                {% if not id %}
                    <input type="hidden" name="id" value="">
                {% else %}
                    <input type="hidden" name="id" value="{{ id }}">
                {% endif %}

                <div class="fields">
                    <div class="five wide field"></div>
                    <div class="six wide field">
                        <label>Descrição</label>
                        <div class="somente_letras">
                            {{ form.descricao }}
                            {% if form.descricao.errors %}
                                <div class="ui pointing red basic label issem-error-field">
                                    {{ form.descricao.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="five wide field"></div>
                </div>

                {% include 'blocos/buttons_form.html' %}
            </form>
        </div>
    </div>

{% endblock %}