<html>

<body>

<h2>Departamentos</h2>

{% for i in departamento %}
    <strong>{{ i.nome_departamento }} {{ i.id }}<br/></strong>
{% endfor %}
<p><a href="{% url 'issem:add_departamento' %}">Cadastrar Departamento</a></p>

<h2>CIDS</h2>

{% for i in cid %}
    <strong>{{ i.descricao_cid }} {{ i.id }} <br/></strong>
{% endfor %}
<p><a href="{% url 'issem:add_cid' %}">Cadastrar Cid</a></p>

<h2>Procedimentos Médicos</h2>

{% for i in procedimento_medico %}
    <strong>{{ i.descricao }} <br/><a href="{% url 'issem:edit_procedimento_medico' i.id %}">Editar</a><br/><a href="{% url 'issem:delete_procedimento_medico' i.id %}">Excluir</a><br/></strong>
{% endfor %}
<p><a href="{% url 'issem:add_procedimento_medico' %}">Cadastrar Procedimento Médico</a></p>

<h2>Benefícios</h2>

{% for i in beneficios %}
    <strong>{{ i.descricao }}<br/><a href="{%url 'issem:edit_beneficios' i.id %}">Editar</a><br/><a href="{% url 'issem:delete_beneficios' i.id %}">Excluir</a><br/></strong>
{% endfor %}
<p><a href="{%  url 'issem:add_beneficios' %}">Cadastrar Benefícios</a></p>
</body>

</html>