<html>

<body>

<h2>Departamentos</h2>

{% for i in departamento %}
    <strong>{{ i.nome }} <a href="{% url 'issem:delete_departamento' i.id %}">Delete</a> <a href="{% url 'issem:edita_departamento' i.id %}">Editar</a><br/></strong>
{% endfor %}
<p><a href="{% url 'issem:add_departamento' %}">Cadastrar Departamento</a></p>

<h2>CIDS</h2>

{% for i in cid %}
    <strong>{{ i.descricao }} <a href="{% url 'issem:delete_cid' i.id %}">Delete</a> <a href="{% url 'issem:edita_cid' i.id %}">Editar</a><br/></strong>
{% endfor %}
<p><a href="{% url 'issem:add_cid' %}">Cadastrar Cid</a></p>


</body>

</html>