{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing header red">Informações Pessoais</h4>
<div class="fields">
    <div class="four wide field">
        <label>Nome <i class="asterisk icon red"></i></label>
        <div class="somente_letras">
            {{ form.nome }}
            {% if form.nome.errors %}
                <div class="ui pointing red basic label">
                    {{ form.nome.errors }}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="four wide field">
        <label>CPF <i class="asterisk icon red"></i></label>
        <div class="cpf">
            {{ form.cpf }}
            {% if form.cpf.errors %}
                <div class="ui pointing red basic label">
                    {{ form.cpf.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="four wide field">
        <label>RG <i class="asterisk icon red"></i></label>
        <div class="rg">
            {{ form.rg }}
            {% if form.rg.errors %}
                <div class="ui pointing red basic label">
                    {{ form.rg.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="four wide field">
        <label>Data de Nascimento <i class="asterisk icon red"></i></label>
        <div class="data">
            {{ form.data_nascimento }}
            {% if form.data_nascimento.errors %}
                <div class="ui pointing red basic label">
                    {{ form.data_nascimento.errors }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <div class="fields">
            <div class="fourteen wide field">
                <label>Cargo</label>
                {{ form.cargo }}
                {% if form.cargo.errors %}
                    <div class="ui pointing red basic label">
                        {{ form.cargo.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="two wide field">
                <label>&ensp;</label>
                <a href="{% url 'issem:cad_cargo' %}" target="_blank"><i class="ui plus icon black"></i></a><br/>
                <a href="#" onclick="atualiza_select_cargo('id_cargo')" class=""><i class="refresh icon black"></i></a>
            </div>
        </div>
    </div>
    <div class="four wide field">
        <label>Estado Civil</label>
        {{ form.estado_civil }}
        {% if form.estado_civil.errors %}
            <div class="ui pointing red basic label">
                {{ form.estado_civil.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Sexo</label>
        <div class="issem-input-radio">
            {{ form.sexo }}
            {% if form.sexo.errors %}
                <div class="ui pointing red basic label">
                    {{ form.sexo.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="two wide field issem-input-small">
        <label>Tipo Sanguíneo</label>
        {{ form.tipo_sanguineo }}
        {% if form.tipo_sanguineo.errors %}
            <div class="ui pointing red basic label">
                {{ form.tipo_sanguineo.errors }}
            </div>
        {% endif %}
    </div>
    <div class="two wide field">
        <label>Doador</label>
        <div class="ui segment issem-input-checkbox">
            {{ form.doador }}
            {% if form.doador.errors %}
                <div class="ui pointing red basic label">
                    {{ form.doador.errors }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label>E-mail</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="ui pointing red basic label">
                {{ form.email.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Telefone Residencial</label>
        <div class="fone_ddd_8digitos">
            {{ form.telefone_residencial }}
            {% if form.telefone_residencial.errors %}
                <div class="ui pointing red basic label">
                    {{ form.telefone_residencial.errors }}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="four wide field">
        <label>Telefone Celular</label>
        <div class="fone_ddd_9digitos">
            {{ form.telefone_celular }}
            {% if form.telefone_celular.errors %}
                <div class="ui pointing red basic label">
                    {{ form.telefone_celular.errors }}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="four wide field">
        <label>CEP</label>
        <div class="cep">
            {{ form.cep }}
            {% if form.cep.errors %}
                <div class="ui pointing red basic label">
                    {{ form.cep.errors }}
                </div>
            {% endif %}
        </div>

    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label>Estado (Natural)</label>
        {{ form.estado_natural }}
        {% if form.estado_natural.errors %}
            <div class="ui pointing red basic label">
                {{ form.estado_natural.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Cidade Natural</label>
        {{ form.cidade_natural }}
        {% if form.cidade_natural.errors %}
            <div class="ui pointing red basic label">
                {{ form.cidade_natural.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Estado (Atual)</label>
        {{ form.estado_atual }}
        {% if form.estado_atual.errors %}
            <div class="ui pointing red basic label">
                {{ form.estado_atual.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Cidade Atual</label>
        {{ form.cidade_atual }}
        {% if form.cidade_atual.errors %}
            <div class="ui pointing red basic label">
                {{ form.cidade_atual.errors }}
            </div>
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field">
        <label>Endereço</label>
        {{ form.endereco }}
        {% if form.endereco.errors %}
            <div class="ui pointing red basic label">
                {{ form.endereco.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Nº Residencial</label>
        <div class="dez_digitos">
            {{ form.numero_endereco }}
            {% if form.numero_endereco.errors %}
                <div class="ui pointing red basic label">
                    {{ form.numero_endereco.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="four wide field">
        <label>Complemento</label>
        {{ form.complemento }}
        {% if form.complemento.errors %}
            <div class="ui pointing red basic label">
                {{ form.complemento.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Bairro</label>
        {{ form.bairro }}
        {% if form.bairro.errors %}
            <div class="ui pointing red basic label">
                {{ form.bairro.errors }}
            </div>
        {% endif %}
    </div>
</div>

<div class="fields">
    <div class="four wide field"></div>
    <div class="four wide field">
        <label>Nome do pai</label>
        {{ form.nome_pai }}
        {% if form.nome_pai.errors %}
            <div class="ui pointing red basic label">
                {{ form.nome_pai.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field">
        <label>Nome da mãe <i class="asterisk icon red"></i></label>
        {{ form.nome_mae }}
        {% if form.nome_mae.errors %}
            <div class="ui pointing red basic label">
                {{ form.nome_mae.errors }}
            </div>
        {% endif %}
    </div>
    <div class="four wide field"></div>
</div>

{% if not id and not segurado %}
    <br/>
    <br/>

    <div class="fields">
        <div class="two wide field"></div>
        <div class="four wide field">
            <label>Usuário<i class="asterisk icon red"></i></label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="ui pointing red basic label issem-error-field">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
        <div class="four wide field">
            <label>Senha<i class="asterisk icon red"></i></label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="ui pointing red basic label issem-error-field">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="four wide field">
            <label>Confirme sua senha<i class="asterisk icon red"></i></label>
            {{ form.password_checker }}
            {% if form.password_checker.errors %}
                <div class="ui pointing red basic label issem-error-field">
                    {{ form.password_checker.errors }}
                </div>
            {% endif %}
        </div>
        <div class="two wide field"></div>
    </div>
{% endif %}

{% if dependente %}
    {{ form.username }}{{ form.password }}{{ form.password_checker }}
{% endif %}