{% csrf_token %}

{% if not id %}
    <input type="hidden" name="id" value="">
{% else %}
    <input type="hidden" name="id" value="{{ id }}">
{% endif %}

<h4 class="ui dividing red header">Dados específicos do Segurado</h4>
<div class="fields">
    <div class="four wide field">
        <label>Local de Trabalho</label>
        {{ usuario.local_trabalho }}
    </div>
    <div class="four wide field">
        <label>PIS/PASEP/NIT</label>
        <div class="somente_numeros">
            {{ usuario.pasep_pis_nit }}
        </div>
    </div>
    <div class="four wide field">
        <label>Documento legal</label>
        <div class="somente_numeros">
            {{ usuario.documento_legal }}
        </div>
    </div>
    <div class="four wide field">
        <label>Data de Admissão</label>
        <div class="data">
            {{ usuario.data_admissao }}
        </div>
    </div>
</div>