{% extends "base.html" %}

{% block body_block %}

    <div class="ui centered grid issem-grid">
        <div class="ui row segment issem-segment">

            <div class="ten wide column">
                <div class="issem-title-edit-page">
                    <p class="ui green message header"><i class="key icon"></i>
                        Insira seu email para recuperação da senha.
                </div>
            </div>

            <div class="sixteen wide column issem-table-form">
                <form class="ui form" action="" method="post">
                    {% csrf_token %}

                    <div class="fields">
                        <div class="five wide field"></div>
                        <div class="six wide field ui centered aligned">
                            <div class="email">
                                <div class="ui left icon input">
                                    {{ form.email }}
                                    <i class="mail icon"></i>
                                </div>
                                {% if form.email.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ form.email.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="five wide field"></div>
                    </div>

                    <br/>
                    <div class="ui centered grid">
                        <div class="ui column centered row">
                            <input type="submit" name="submit" class="ui button green" value="Enviar"/>
                            <button type="button" onclick="location.href={% url 'issem:index' %}" class="ui button red">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}